body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

#signup-form {
  background-color: #fff;
  width: 340px;
  margin: 100px auto;
  padding: 20px 30px 40px;
  border-radius: 15px;
  font-size: 16px;
}

#signup-form h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #172c36;
}

#signup-form button {
  padding: 15px 20px;
  margin-top: 20px;
  width: 40%;
  color: white;
  background-color: #2c5364;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#signup-form button:hover {
  background-color: #203a43;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-size: 16px;
  font-weight: 600;
  margin: 2px 0;
}

.input-container input,
.input-container select {
  border: none;
  border-bottom: 1px solid #412e2e;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  padding: 5px;
}

.input-container input:focus,
.input-container select:focus {
  outline: none;
  box-shadow: 0 2px 0 0 #b3b3b3;
  border-color: #b3b3b3;
}

.checkbox-container {
  margin-top: 20px;
}

.input-container.success input,
.input-container.success select {
  border-color: #09c372;
}

.input-container.error input,
.input-container.error select {
  border-color: #ff4757;
}

.input-container .error {
  color: #ff4757;
  font-size: 16px;
  margin: 5px 0 10px;
}

#result:empty {
  display: none;
}

#result {
  max-width: 340px;
  margin: 20px auto 40px;
  font-size: 16px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
